@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

h1 {
   font-family: 'Montserrat';
   font-size: 75px;
   text-align: centre;
}

#entry{
    color: cadetblue;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 5px solid black;
}

p {
    font-family: 'Montserrat';
    font-size: 50px;
    color: cadetblue;
    text-align: centre;    
}

table {
    font-family: 'Montserrat';
    font-size: 20px;
    text-align: centre;    
}
